body {
    min-height: 100%;
}

footer {
    background-color: #cccccc;
    width: 100%;
    bottom: 0;
    height: 50px;
    z-index: 10;
    position: fixed;
}

.foot_message {
    left: 40%;
    font-family: arial;
    position: absolute;
    bottom: -3px;
    color: #513233;
}
