/* ===== GENERAL ===== */
::placeholder {
    color: lightgrey;
}

/* ===== FORM LOGIN ===== */

.register_form {
    font-family: arial;
    text-align: center;
}

.login {
    margin-top: 10%;
    margin-bottom: 20px;
}

.password {
    margin-top: 30px;
}

.push {
    margin-top: 20px;
}

.button {
    border: none;
    width: 60px;
    height: 20px;
    border-radius: 5px;
}
